<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ "custom.css" | relative_url }}">
	<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
</head>

<body>

<div class="container">
<div class="row my-4 justify-content-center">
<div class="col col-md-10 col-lg-7 text-light font-monospace">

<header>
<nav class="nav nav-pills py-1 justify-content-lg-end justify-content-center">
	{%- for path in site.header_pages -%}
		{%- if path == 'about' -%}
			<a class="nav-link my-1 text-light" href="/">{{ path | capitalize }}</a>
		{%- elsif path == 'poi' -%}
			<a class="nav-link my-1 text-light active" aria-current="page" href="{{ '/' | append: path  }}">{{ path | capitalize }}</a>
		{% else %}
			<a class="nav-link my-1 text-light" href="{{ '/' | append: path }}">{{ path | capitalize }}</a>
		{%- endif -%}
	{%- endfor -%}
</nav>
</header>

<main class="my-4 mx-1">

<a href="{{ '/' | relative_url }}"><img class="img-fluid mx-auto my-4 d-block" src="{{ '/assets/community.gif' | relative_url }}" alt="community.gif"></a>

<p class="text-light text-center my-4"><u>Poi Time Line</u></p>
<p class="text-light text-center my-2">Archive of Poi spinning era between 2001-2006.</p>

<div class="row my-4 d-flex justify-content-center">
	{%- for collection in site.collections -%}
	{%- if collection.label != 'posts' -%}
	<div class="col col-md-3 position-relative">
		<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-folder-fill" viewBox="0 0 16 16"><path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"/></svg>
		<span class="text-light align-bottom">{{ collection.label | capitalize }}</span>
		<a href="{{ collection.label | relative_url | append: '/' }}" class="stretched-link"></a>
	</div>
	{%- endif -%}
	{%- endfor -%}
</div>

<hr class="opacity-25">

{%- assign tt_one = 0 -%}
{%- assign tt_two = 0 -%}
{%- assign tt_three = 0 -%}
{%- assign tt_four = 0 -%}
{%- assign tt_five = 0 -%}
{%- assign tt_six = 0 -%}

{%- for video_file_dir in site.data.video -%}
{%- for video_file_hash in video_file_dir[1] -%}
	{%- assign video_file = video_file_hash[1] -%}
	{%- if video_file.date contains '2001' -%}
		{%- assign tt_one = tt_one | plus: 1 -%}
	{%- elsif video_file.date contains '2002' -%}
		{%- assign tt_two = tt_two | plus: 1 -%}
	{%- elsif video_file.date contains '2003' -%}
		{%- assign tt_three = tt_three | plus: 1 -%}
	{%- elsif video_file.date contains '2004' -%}
		{%- assign tt_four = tt_four | plus: 1 -%}
	{%- elsif video_file.date contains '2005' -%}
		{%- assign tt_five = tt_five | plus: 1 -%}
	{%- elsif video_file.date contains '2006' -%}
		{%- assign tt_six = tt_six | plus: 1 -%}
	{%- endif -%}
{%- endfor -%}
{%- endfor -%}

<div class="row mb-2 mt-4 mx-1 mx-md-4">
<div class="col p-1 d-flex flex-wrap-reverse gap-1 align-content-start justify-content-center">
{%- for i in (1..tt_one) -%}
	<div class="squared"></div>
{%- endfor -%}
</div>
<div class="col p-1 d-flex flex-wrap-reverse gap-1 align-content-start justify-content-center">
{%- for i in (1..tt_two) -%}
	<div class="squared"></div>
{%- endfor -%}
</div>
<div class="col p-1 d-flex flex-wrap-reverse gap-1 align-content-start justify-content-center">
{%- for i in (1..tt_three) -%}
	<div class="squared"></div>
{%- endfor -%}
</div>
<div class="col p-1 d-flex flex-wrap-reverse gap-1 align-content-start justify-content-center">
{%- for i in (1..tt_four) -%}
	<div class="squared"></div>
{%- endfor -%}
</div>
<div class="col p-1 d-flex flex-wrap-reverse gap-1 align-content-start justify-content-center">
{%- for i in (1..tt_five) -%}
	<div class="squared"></div>
{%- endfor -%}
</div>
<div class="col p-1 d-flex flex-wrap-reverse gap-1 align-content-start justify-content-center">
{%- for i in (1..tt_six) -%}
	<div class="squared"></div>
{%- endfor -%}
</div>
</div>

<div class="row mb-5 mx-1 mx-md-4 d-flex justify-content-center">
	<div class="col px-1 text-light text-center">2001</div>
	<div class="col px-1 text-light text-center">2002</div>
	<div class="col px-1 text-light text-center">2003</div>
	<div class="col px-1 text-light text-center">2004</div>
	<div class="col px-1 text-light text-center">2005</div>
	<div class="col px-1 text-light text-center">2006</div>
</div>

<p class="text-light text-left my-2">DISCLAIMER: This archive is not complete and may include mistakes. No trick or promo videos. For contact please use Github <a target="_blank" href="https://github.com/KyomaHooin/PoiTimeLine/issues">issues</a>.</p>

</main>

<footer><div class="pi text-end" onclick="pi()">{{ site.footer }}</div></footer>
   
</div>
</div>
</div>

<script src="/custom.js"></script>

</body>

</html>

