<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ブルナ・リチャード</title>
    <link rel="stylesheet" type="text/css" href="custom.css">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
  </head>

  <body>
    <div class="container">
    <div class="row my-4 justify-content-center">
    <div class="col col-lg-7 text-light font-monospace"><header>
      <nav class="nav nav-pills py-1 justify-content-lg-end justify-content-center">
             <a class="nav-link text-light my-1 active" aria-current="page" href="/">About</a>
           
             <a class="nav-link my-1 text-light" href="/tech">Tech</a>
             <a class="nav-link my-1 text-light" href="/cyber">Cyber</a>
             <a class="nav-link my-1 text-light" href="/poi">Poi</a>
             <a class="nav-link my-1 text-light" href="/book">Book</a>
             <a class="nav-link my-1 text-light" href="/sound">Sound</a>
             <a class="nav-link my-1 text-light" href="/other">Other</a></nav>
    </header>

    <main class="my-4 mx-1">

    <img class="img-fluid mx-auto my-4 d-block" src="assets/community.gif">

    <p class="text-light text-center h4 my-4"><u>Poi Time Line</u></p>
    <p class="text-light text-center h5 my-2">Archive of Poi spinning era between 2001-2007.</p>
   
    <div class="row my-2">

	<div class="col text-light" style="background-color: black;">

	<p><img class="img-fluid" onerror="this.onerror=null;this.src='/assets/no-image.svg';" src="assets/PTL/image/yuta.jpg" alt="yuta.png"></p>

		<h4 class="my-4">Yuta</u></h4>

		<table class="table mb-4 table-dark table-borderless table-sm">
			<tbody>
				<tr><td class="">Name:</td><td class="py-0">Imamura Yuta</td></tr>
				<tr><td class="">ID:</td><td class="py-0">6811</td></tr>
				<tr><td class="">Video:</td><td class="py-0"><a href="..">Yuta</a></td></tr>
				<tr><td class="">Location:</td><td class="py-0">Tokyo, JA</td></tr>
				<tr><td class="">Group:</td><td class="py-0">PoiCommunity</td></tr>
				<tr><td class="">Metadata:</td><td class="py-0"><span>poicommunity.nobody.jp</span><br><span>poicommunity.com</span><br><span>poilab.com</span><br></td></tr>
			</tbody>
		</table>
	</div>
 
  </div>

    </main>

    <footer>
      <div class="pi text-end" onclick="pi()">&#960;</div>
    </footer>
   
    </div>
    </div>
    </div>
    <script src="/bootstrap.min.js"></script>
  </body>
</html>

